h1{
    color: red;
    text-align: center;
}
#container{
    height: 200px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
     
}
.fitem{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}