.first{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    left: 200px;
    top: 200px;
    background-image: url(./images/1720952234557.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.first:hover{
    transform: scale(2);
    transform: rotate(90deg);
    transform: translate(-200px,200px);
}